* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(231, 225, 225);
}

body {
    background-color: #222;

}

#root div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    text-align: center;
}

main {
    width: 100%;
}

li {
    display: block;
    list-style: none;
}

ul {
    margin: 2rem auto;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    max-width: 800px;
}

.flex li {
    max-width: 120px;
    height: auto;
}




select {
    border-radius: 1rem;
    max-width: 300px;
}

select,
option {
    width: 250px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #222;
}

.container_sidebar_cart {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background-color: #222;
    padding: 1rem;
    /* border-left: 0.1px solid lightgrey; */
}


.container_sidebar_cart ul {
    max-height: 100%;
  
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    gap: 2rem;
}


.container_sidebar_cart ul li>header {
    text-align: center;
}
.cart_btn_add{
    padding: .25rem .50rem;
     border-radius: 5px;
      border: .2px solid whitesmoke;
}

.icon_add_to_cart{
    margin: 0 auto;
    width: fit-content;
    padding: .3rem .5rem;
  
}